<DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Look into your statistics</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
        <link rel="stylesheet" href="/styles/style.css"/>
    </head>

    <body>
    <!-- Navbar Setup -->
    <nav class="navbar">
        <div class="navbar-brand">
            <!-- INSERT LINK TO LANDING PAGE -->
            <a class="navbar-item" href="index"> <img src="img/dumbbell.png" alt="Logo" class="icon"> </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"> <span
                    aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
        </div>
        <div id="navbarSetup" class="navbar-menu">
            <div class="navbar-end">
                <!-- Link of Subpages --><a class="navbar-item" href="index">
                HOME
            </a> <a class="navbar-item" href="feed">
                POSTS
            </a> <a class="navbar-item" href="upload">
                UPLOAD
            </a> <a class="navbar-item" href="statistics">
                STATISTICS
            </a>
                <!-- End Linking -->
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="page-container">
        <div class="content-container">
            <section class="section">
                <div class="container">
                    <canvas id="workoutChart" width="400" height="400"></canvas>
                    <script src="js/workoutChart.js"></script>
                </div>
            </section>
        </div>
    </div>
    </div>
    </body>

    </html>
</DOCTYPE>