<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Skiing in Sankt Anton</title>
	<link rel="stylesheet" href="WEB_excercise_today.css" />
	<script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="../css/cards.css"> </head>

<body>
	<!-- Navbar Setup -->
	<nav class="navbar">
		<div class="navbar-brand">
			<!-- INSERT LINK TO LANDING PAGE -->
			<a class="navbar-item" href="WEB_excercise_today_Home.html"> <img src="img/dumbbell.png" alt="Logo" class="icon"> </a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
		</div>
		<div id="navbarSetup" class="navbar-menu">
			<div class="navbar-end">
				<!-- Link of Subpages --><a class="navbar-item" href="WEB_excercise_today_Home.html">
             HOME
           </a> <a class="navbar-item" href="WEB_excercise_today_Posts.html">
             POSTS
           </a> <a class="navbar-item" href="WEB_excercise_today_Upload.html">
             UPLOAD
           </a>
				<!-- End Linking -->
			</div>
		</div>
	</nav>
	<!-- Navbar End -->
	<div class="page-container">
		<div class="content-container">
			<section class="section">
				<div class="container">
					<div class="section">
						<div class="columns">
							<div class="column has-text-centered">
								<h1 class="title">
                    Skiing in Sankt Anton
                 </h1>
								<p class="date"> 21.12.2019</p>
								<figure class="image-16zu9"> <img src="post/ski.png" alt="upload2"> </figure>
								<div class="column"></div>
								<p class="post-text"> Met two friends in Sankt Anton to go Freeskiing.</p>
								<p class="post-text"> Freeriding was lots of fun in the fresh powder while the sun came out. </p> <a class="button" href="WEB_MS1_Posts.html">GO BACK</a> </div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="impressum has-text-centered">
				<a class="footer-item" href="WEB_excercise_today_Home.html"> <img src="img/dumbbell.png" alt="Logo" class="icon"> </a>
				<div class="column"> <a class="footer-content" href="#"> Contact </a> <a class="footer-content" href="#"> Kontakt </a> <a class="footer-content" href="#"> Social Media </a> <a class="footer-content" href="#"> Improve Website </a> </div>
			</div>
		</footer>
	</div>
</body>

</html>
