<html lang=en>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View your posts</title>
	<link rel="stylesheet" href="WEB_excercise_today.css" />
	<script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="../css/cards.css"> </head>

<body>
	<!-- Navbar Setup -->
	<nav class="navbar">
		<div class="navbar-brand">
			<!-- INSERT LINK TO LANDING PAGE -->
			<a class="navbar-item" href="WEB_excercise_today_Home.html"> <img src="img/dumbbell.png" alt="Logo" class="icon"> </a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
		</div>
		<div id="navbarSetup" class="navbar-menu">
			<div class="navbar-end">
				<!-- Link of Subpages --><a class="navbar-item" href="WEB_excercise_today_Home.html">
            HOME
          </a> <a class="navbar-item" href="WEB_excercise_today_Posts.html">
            POSTS
          </a> <a class="navbar-item" href="WEB_excercise_today_Upload.html">
            UPLOAD
          </a>
				<!-- End Linking -->
			</div>
		</div>
	</nav>
	<!-- Navbar End -->
	<div class="page-container">
		<div class="content-container">
			<section class="section">
				<div class="container">
					<div class="section">
						<div class="columns">
							<div class="column has-text-centered">
								<h1 class="title">
                     HISTORY
                  </h1>
								<div class="column">
									<p class="subtitle"> Your previous Posts collected in your feed </p>
								</div> <a class="button" href="WEB_excercise_today_Upload.html">ADD NEW</a> </div>
						</div>
					</div>
				</div>
				<div class="post-line">
					<div class="column">
						<div class="post-content">
							<p class="date"> 16.01.2019</p>
							<figure class="image-16zu9">
								<a href="WEB_excercise_today_Post1.html"> <img src="post/climb.png" alt="upload1"> </a>
							</figure> <a class="post-title" href="WEB_excercise_today_Post1.html"> Climbing in the mountains </a>
							<p class="post-text"> We have been to the Rocky Mountains on a warm day while sun was setting.</p>
							<p class="post-text"> Afterwards we went for camping and had Burritos </p>
						</div>
					</div>
					<div class="column">
						<div class="post-content">
							<p class="date"> 21.12.2019</p>
							<figure class="image-16zu9">
								<a href="WEB_excercise_today_Post2.html"> <img src="post/ski.png" alt="upload2"> </a>
							</figure> <a class="post-title" href="WEB_excercise_today_Post2.html"> Skiing in Sankt Anton </a>
							<p class="post-text"> Met two friends in Sankt Anton to go Freeskiing.</p>
							<p class="post-text"> Freeriding was lots of fun in the fresh powder while the sun came out. </p>
						</div>
					</div>
					<div class="column">
						<div class="post-content">
							<p class="date"> 01.03.2020</p>
							<figure class="image-16zu9">
								<a href="WEB_excercise_today_Post3.html"> <img src="post/surf.png" alt="upload3"> </a>
							</figure> <a class="post-title" href="WEB_excercise_today_Post3.html"> Surfing in Hossegor</a>
							<p class="post-text"> Was on a Roadtrip on my own on the french coast.</p>
							<p class="post-text"> Hossegor is a must visit and the waves were really beginner friendly this day. </p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="impressum has-text-centered">
				<a class="footer-item" href="WEB_excercise_today_Home.html"> <img src="img/dumbbell.png" alt="Logo" class="icon"> </a>
				<div class="column"> <a class="footer-content" href="#"> Impressum </a> <a class="footer-content" href="#"> Contact </a> <a class="footer-content" href="#"> Social Media </a> <a class="footer-content" href="#"> Improve Website </a> </div>
			</div>
		</footer>
	</div>
</body>

</html>
